В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?

PS Добавить one hot к изначальной таблице

In [2]:
import random
import pandas as pd

lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI': lst})
data.head(5)

  whoAmI
0  human
1  robot
2  robot
3  human
4  human

In [3]:
data.loc[data['whoAmI'] == 'robot', 'one_hot'] = 1
data.loc[data['whoAmI'] == 'human', 'one_hot'] = 0

In [4]:
data.head(20)

   whoAmI  one_hot
0   human      0.0
1   robot      1.0
2   robot      1.0
3   human      0.0
4   human      0.0
5   human      0.0
6   robot      1.0
7   robot      1.0
8   human      0.0
9   human      0.0
10  robot      1.0
11  human      0.0
12  human      0.0
13  robot      1.0
14  robot      1.0
15  robot      1.0
16  robot      1.0
17  human      0.0
18  human      0.0
19  robot      1.0